body{
    background-color: black;
    cursor: default;
}

div.flash_ligth{
    position: fixed;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}