img{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
p{
    font-size: 5em;
}
.p1{
    background-color: rgb(255, 0, 0);
    opacity: 0.5;
}

.p2{
    background-color: rgba(255, 0, 0, 0.5);
}
